:host {
    width: 100%;
    padding: 20px;
}

main {
    display: grid;
    width: 60%;
    grid-template-columns: auto auto;
    gap: 10px;
    max-height: 50%;

    .vote-topic-box {
        padding: 20px;
        border: 1px solid black;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        .button-container button:not(:last-child) {
           margin-right: 10px; 
        }
    }
}

nav {
    margin-top: 20px;

    button:not(:last-child) {
        margin-right: 10px;
    }
}